<div class="row">
    <div class="col-9">
        <div class="container mt-5 animated fadeIn">
            <div class="row">
                <div class="col-8">
                    <p>Lista de Premios</p>
                </div>
                <div class="col-4">
                    <button (click)="modalAgregarPremio(agregarPremios)">
                        <i>Agregar Premio</i>
                    </button>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID premio</th>
                            <th scope="col">Descripción</th>
                            <!-- <th scope="col">Inventario</th> -->
                            <th scope="col">Valor unidad</th>
                            <th scope="col">url imagen</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaPremios.prizes" >
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.description}}</td>
                            <td>{{item.unit_value}}</td>
                            <td>{{item.image_url}}</td>
                            <td>
                                <div class="row">
                                    <span (click)="obtenerPremio(item.id,editarPremio)">Editar</span>
                                </div>
                                <div class="row">
                                    <span (click)="eliminarProducto(item.id)" >Eliminar</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #agregarPremios let-c="close" let-d="dismiss">
    <div class="modal-header animated fadeIn">
        <p class="modal-title"><b>Agregar Premio</b></p>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body animated fadeIn">
        <form [formGroup]="frmRegistroPremio" (ngSubmit)="guardarPremioCatalogo()" novalidate="novalidate">
            <!-- <div class="row">
                <div class="col-4">
                    <p>ID</p>
                </div>
                <div class="col-8">
                    <input class="form-control" type="text">
                </div>
            </div> -->
        <div class="row">
            <div class="col-4">
                <p>Descripción</p>
            </div>
            <div class="col-8">
                <input formControlName="description" class="form-control" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <p>Valor Unitario</p>
            </div>
            <div class="col-8">
                <input formControlName="unit_value" class="form-control" type="number">
            </div>
        </div>


        <!-- <div class="row">
                <div class="col-4">
                    <p>Inventario</p>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number">
                </div>
            </div> -->
        <!-- <div class="row">
                <div class="col-4">
                    <p>Puntos para canjear</p>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number">
                </div>
            </div> -->

        <div class="row">
            <div class="col-4">
                <p>Imagen</p>
            </div>
            <div class="col-8">
                <input formControlName="image_url" class="form-control" type="text" />
            </div>
        </div>


        <div class="row">
            <div class="col-4">
                <p>Disponible</p>
            </div>
            <div class="col-8">
                <input formControlName="available" type="checkbox" id="cbox2" value="1">
            </div>
        </div>





        <div class="row animated fadeIn mb-5">
            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark btn-primary">
                    <i style="color: white;">Guardar</i>
                </button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-dark btn-primary" (click)="d('Close click')">
                    <i style="color: white;">Cancelar</i>
                </button>
            </div>
        </div>
        </form>

    </div>

</ng-template>


<ng-template #editarPremio let-c="close" let-d="dismiss">
    <div class="modal-header animated fadeIn">
        <p class="modal-title"><b>Agregar Premio</b></p>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body animated fadeIn">
        <form [formGroup]="frmRegistroPremio" (ngSubmit)="guardarEditarPremiosCatalogo()" novalidate="novalidate">
            <!-- <div class="row">
                <div class="col-4">
                    <p>ID</p>
                </div>
                <div class="col-8">
                    <input class="form-control" type="text">
                </div>
            </div> -->
        <div class="row">
            <div class="col-4">
                <p>Descripción</p>
            </div>
            <div class="col-8">
                <input formControlName="description" class="form-control" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <p>Valor Unitario</p>
            </div>
            <div class="col-8">
                <input formControlName="unit_value" class="form-control" type="number">
            </div>
        </div>


        <!-- <div class="row">
                <div class="col-4">
                    <p>Inventario</p>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number">
                </div>
            </div> -->
        <!-- <div class="row">
                <div class="col-4">
                    <p>Puntos para canjear</p>
                </div>
                <div class="col-8">
                    <input class="form-control" type="number">
                </div>
            </div> -->

        <div class="row">
            <div class="col-4">
                <p>Imagen</p>
            </div>
            <div class="col-8">
                <input formControlName="image_url" class="form-control" type="text" />
            </div>
        </div>


        <div class="row">
            <div class="col-4">
                <p>Disponible</p>
            </div>
            <div class="col-8">
                <input formControlName="available" type="checkbox" id="cbox2" value="1">
            </div>
        </div>





        <div class="row animated fadeIn mb-5">
            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark btn-primary">
                    <i style="color: white;">Guardar</i>
                </button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-dark btn-primary" (click)="d('Close click')">
                    <i style="color: white;">Cancelar</i>
                </button>
            </div>
        </div>
        </form>

    </div>

</ng-template>


