<div class="productos animated fadeIn" style="margin-top: 10%; margin-left: 10%">
    <div class="row" style="border-bottom: solid #262626 1px">
        <div class="col-4">
            <label for="elemento"><b>Item</b></label>
        </div>
        <div class="col-4">
            <label for="descelemento"><b>Descripción</b></label>
        </div>
        <div class="col-4">
            <label for="eleobservacion"><b>Acción</b></label>
        </div>
    </div>
    <div class="elementos">
        <div class="row">
            <div class="col cabecera">Número Pedido:</div>
            <div class="col">000001</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col cabecera">Fecha:</div>
            <div class="col">29/08/2019</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col cabecera">Cliente:</div>
            <div class="col">John Doe</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col cabecera">Dirección:</div>
            <div class="col">Avenida Siempreviva</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col cabecera">Estatus:</div>
            <div class="col">No entregado</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col cabecera">Observación:</div>
            <div class="col">Cliente no está en domicilio</div>
            <div class="col">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, facere recusandae vero, laboriosam voluptate culpa suscipit earum tenetur provident, perferendis consequuntur quidem rem nemo dolorem? Ea repellendus nostrum rem quae.</div>
        </div>
    </div>
</div>
<div class="premios animated fadeIn">
    <div class="row" style="border-bottom: solid #262626 1px; border-top: solid #262626 1px;">
        <div class="col-6">
            <label for="elemento"><b>Premio</b></label>
        </div>
        <div class="col-6">
            <label for="descelemento"><b>Cantidad</b></label>
        </div>
    </div>
    <div class="row" style="border-bottom: solid gray 1px;">
        <div class="col-6">
            Garrafón
        </div>
        <div class="col-6">
            10
        </div>
    </div>
</div>