.elementos .row {
    border-bottom: solid gray 1px;
    height: auto;
    font-style: italic;
    .cabecera {
        font-style: normal;
    }
}

.premios {
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 10%;
}