<div class="container mt-4">
    <form [formGroup]="frmSubirImagen" (ngSubmit)="onUpload()" novalidate="novalidate">
        <div class="row">
            <div class="col-md-12">
                <p class="font-weight-bold">Cargar Imagen</p>
            </div>
            

            <div class="col-md-4 margin-top-10px">
                <p>Carpeta ubicación</p>
            </div>

            <div class="col-md-6 margin-top-10px">
                <input formControlName="nombreCarpetaRuta" class="form-control" />
            </div>


            <div class="col-md-4 margin-top-10px">
                <p>Nombre Imagen</p>
            </div>

            <div class="col-md-6 margin-top-10px">
                <input formControlName="nombreImagen" class="form-control" />
            </div>

            <div class="col-md-4 margin-top-10px">
                    <p>Cargar Imagen</p>
                </div>

            <div class="col-md-6 margin-top-10px">
                <div class="custom-file">
                    <input type="file"
                    id="inputGroupFile1"
                    accept="image/*"
                    class="custom-file-input"
                    (change)="subirImagen($event)">
                    <label class="custom-file-label" for="inputGroupFile1">Seleccionar imagen</label>
                </div>
            </div>

            <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Subir Archivos</button>
            </div>
        </div>
    </form>

</div>