<div class="container mt-4">
    <form [formGroup]="frmSubirImagen" (ngSubmit)="onUpload()" novalidate="novalidate">
        <div class="row">
            <div class="col-md-12">
                <p class="font-weight-bold">Cargar Imagen</p>
            </div>
            

            <div class="col-md-4 margin-top-10px">
                <p>Carpeta ubicación</p>
            </div>

            <div class="col-md-6 margin-top-10px">
                <input formControlName="nombreCarpetaRuta" class="form-control" />
            </div>


            <div class="col-md-4 margin-top-10px">
                <p>Nombre Imagen</p>
            </div>

            <div class="col-md-6 margin-top-10px">
                <input formControlName="nombreImagen" class="form-control" />
            </div>

            <div class="col-md-4 margin-top-10px">
                    <p>Cargar Imagen</p>
                </div>

            <div class="col-md-6 margin-top-10px">
                <input type="file" (change)="subirImagen($event)">
            </div>

            <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Subir Archivos</button>
            </div>
        </div>
    </form>

</div>