<div class="pr-4">
    <div class="container mt-4 animated fadeIn">
        <div class="row mb-4">
            <div class="col-8">
                <p class="font-weight-bold">Lista de Productos</p>
            </div>
            <div class="col-4 text-right">
                <button (click)="modalAgregarProducto(agregarProducto)" class="btn btn-outline-success btn-sm">
                    Agregar Producto
                </button>
            </div>
        </div>
        
        <table class="table animated fadeIn table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Valor Unitario</th>
                    <th scope="col" colspan="2" >Acción</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of listaProductos.products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
                <tr>
                    <th scope="row">
                        {{ ((page-1) * pageSize) + (i + 1) }}
                    </th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.unit_value }} USD</td>
                    <td class="text-nowrap">
                        <button (click)="obtenerProducto(item.id,editarProducto)" class="btn btn-outline-warning btn-sm">
                            Editar
                        </button>
                    </td>
                    <td class="text-nowrap">
                        <button (click)="eliminarProducto(item.id)" class="btn btn-outline-danger btn-sm">
                            Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="content-paginador">
        <div class="d-flex justify-content-center p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"> </ngb-pagination>
        </div>
    </div>
</div>

<ng-template #agregarProducto let-c="close" let-d="dismiss">
    <div class="modal-header animated fadeIn">
        <p class="modal-title"><b>Agregar Producto</b></p>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="frmRegistroCatalogo" (ngSubmit)="guardarProductoCatalogo()" novalidate="novalidate">
        <div class="modal-body animated fadeIn">
            <div class="row">
                <div class="col-4">
                    <p>Nombre</p>
                </div>
                <div class="col-8">
                    <input formControlName="name" class="form-control" type="text" />
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <p>Descripción</p>
                </div>
                <div class="col-8">
                    <input formControlName="description" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Precio</p>
                </div>
                <div class="col-8">
                    <input formControlName="unit_value"  class="form-control" type="number" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Puntos por compra</p>
                </div>
                <div class="col-8">
                    <input formControlName="point_value" class="form-control" type="number" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Imagen</p>
                </div>
                <div class="col-8">
                    <input formControlName="image_url" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Disponible</p>
                </div>
                <div class="col-8">
                    <input formControlName="available"  type="checkbox" id="cbox2" value="1">
                </div>
            </div>
        </div>
        <div class="row animated fadeIn mb-4 mt-2">
            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" (click)="d()">
                    Cancelar
                </button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #editarProducto let-c="close" let-d="dismiss">
    <div class="modal-header animated fadeIn">
        <p class="modal-title"><b>Editar Producto</b></p>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="frmRegistroCatalogo" (ngSubmit)="guardarEditarProductoCatalogo()" novalidate="novalidate">
        <div class="modal-body animated fadeIn">
            <div class="row">
                <div class="col-4">
                    <p>Nombre</p>
                </div>
                <div class="col-8">
                    <input formControlName="name" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Descripción</p>
                </div>
                <div class="col-8">
                    <input formControlName="description" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Precio</p>
                </div>
                <div class="col-8">
                    <input formControlName="unit_value"  class="form-control" type="number" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Puntos por compra</p>
                </div>
                <div class="col-8">
                    <input formControlName="point_value" class="form-control" type="number" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Imagen</p>
                </div>
                <div class="col-8">
                    <input formControlName="image_url" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Disponible</p>
                </div>
                <div class="col-8">
                    <input formControlName="available"  type="checkbox" id="cbox2" value="1">
                </div>
            </div>
        </div>
        <div class="row animated fadeIn mb-4 mt-2">
            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" (click)="d()">
                    Cancelar
                </button>
            </div>
        </div>
    </form>
</ng-template>
