<div class="m-3 text-right">
    <button class="btn btn-link" [routerLink]="['/home/pedidos/']">
        Regresar
    </button>
</div>

<table class="table mt-1">
    <thead>
        <tr>
            <th scope="col">Concepto</th>
            <th scope="col">Valor</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Número pedido</th>
            <td>{{order.id}}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Fecha de pedido</th>
            <td>{{order.created | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Fecha Estimada</th>
            <td>{{order.estimated_date | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Cliente</th>
            <td>{{order.user?.full_name}}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Dirección</th>
            <td>{{order.location?.address}}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Status</th>
            <td>{{order.status?.name}}</td>
            <td>
                <button class="btn btn-primary" (click)="editarStatus(editarEstado, order.status?.id)">
                    Editar status
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">Observaciones</th>
            <td colspan="2">{{order.comments}}</td>
        </tr>
    </tbody>
</table>

<div class="container mt-5">
    <div class="content-table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of order?.order_products">
                    <td>{{ product?.product?.name }}</td>
                    <td>{{ product?.quantity }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #editarEstado let-c="close" let-d="dismiss">
    <div class="modal-header animated fadeIn">
        <p class="modal-title font-weight-bold">Editar el estado de orden</p>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br>
    <form [formGroup]="frmEditarStatus" (ngSubmit)="guardarEditarStatus()" novalidate="novalidate">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 text-center">
                    <label for="">Editar Estado</label>
                </div>
                <div class="col-md-6 text-center">
                    <select id="country" formControlName="status_id">
                        <option *ngFor="let item5 of listadoStatus.status_orders" [ngValue]="item5.id">{{ item5.name}}
                        </option>
                    </select>
                </div>
                <div class="col-md-12 text-center content-btn-enviar">
                    <button class="btn btn-success" type="submit">Actualizar</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>