<table class="table">
  <thead>
    <tr>
      <th scope="col">Concepto</th>
      <th scope="col">Valor</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Número pedido</th>
      <td>{{datosPrimerTabla.numPedido}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Fecha</th>
      <td>{{datosPrimerTabla.fecha}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Cliente</th>
      <td>{{datosPrimerTabla.nombre}}</td>
      <td></td>
    </tr>


    <tr>
      <th scope="row">Dirección</th>
      <td>{{datosPrimerTabla.direccion}}</td>
      <td></td>
    </tr>


    <tr>
      <th scope="row">Status</th>
      <td>{{datosPrimerTabla.estado}}</td>
      <td>Accion</td>
    </tr>

    <tr>
      <th scope="row">Observaciones</th>
      <td colspan="2">{{datosPrimerTabla.observaciones}}</td>
    </tr>

  </tbody>
</table>


<div class="container">
  <div class="content-table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Producto / Premio</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item3 of productos">

          <td>{{item3.items.description}}</td>
          <td>{{item3.cantidad}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>