.ng-invalid.ng-touched:not(form) {
    border: 1px solid #870505;
    border-radius: 10px;
}

.ng-valid:not(form) {
    border: 1px solid #126704;
    border-radius: 10px;
}

button {
    border-radius: 12px;
}