.container {
    background: #077ACC;
    height: 100vh;
    width: auto;
}

.item {
    background: #03A6DF;
    border-bottom: solid 3px #077ACC;
    a {
        text-decoration: none !important;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }
}
