<div class="row">
  <table class="table animated fadeIn table-pedidos">
    <thead>
      <tr>
        <th scope="col"># Pedido</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Dirección</th>
        <th scope="col">Status</th>
        <th scope="col">Observación</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of objects | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
        <td class="wrap">{{item.pedido}}</td>
        <td>{{item.fecha}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.direccion}}</td>
        <td>
            {{item.estado}}
        </td>
        <td>{{item.observaciones}}</td>
        <td>
          <button class="btn btn-outline-dark" [routerLink]="['/home/detalle-pedidos/', item.pedido ]">Ver detalle</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
            <div class="content-paginador">
                <div class="d-flex justify-content-center p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"> </ngb-pagination>
                </div>
            </div>
      </div>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
