<div class="container mt-4">
  <p class="font-weight-bold">Lista de Pedidos</p>
</div>

<div class="table-responsive mt-4 pr-2">
  <table class="table animated fadeIn table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha de Pedido</th>
        <th scope="col">Fecha Estimada</th>
        <th scope="col">Cliente</th>
        <th scope="col">Dirección</th>
        <th scope="col">Status</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
        <th scope="row">
          {{ ((page-1) * pageSize) + (i + 1) }}
        </th>
        <td class="text-nowrap">{{order.created | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td class="text-nowrap">{{order.estimated_date | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td class="text-nowrap">
          {{order.user?.full_name}}
        </td>
        <td class="">
          {{order.location?.address}}
        </td>
        <td class="text-nowrap">
          {{order.status?.name}}
        </td>
        <td class="text-nowrap">
          <button class="btn btn-sm btn-link" [routerLink]="['/home/detalle-pedidos/', order.id]">
            Ver detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-paginador">
          <div class="d-flex justify-content-center p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"> </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>