<div class="row">
  <table class="table animated fadeIn">
    <thead>
      <tr>
        <th scope="col"># Pedido</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Dirección</th>
        <th scope="col">Status</th>
        <th scope="col">Observación</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0000001</td>
        <td>07/08/2019</td>
        <td>Jhon Doe</td>
        <td>Avenida Siempreviva</td>
        <td style="width: 300px">
          <select class="custom-select">
            <option value="1" selected>Entregado</option>
            <option value="2">En Distribución</option>
            <option value="3">No Entregado</option>
            <option value="3">No Disponible</option>
          </select>
        </td>
        <td>No hay disponibles</td>
        <td>
          <button class="btn btn-outline-dark" [routerLink]="['/detalle', 1]">Ver detalle</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <button class="btn btn-outline-dark" disabled>Anterior</button>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <button class="btn btn-primary">Siguiente</button>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
